.ca-button{
    border: 1px solid #666;
    background-color: #999;
    color: white;
    padding: 10px;
    font-size: 14px;
    outline: 0;
    cursor: pointer;
    font-family: inherit;
    &:hover{
        background-color: #aaa;
    }
    &:focus{
        box-shadow: 0 0 10px white inset;
    }
}
.react-dropdown,
.react-popup{
    box-sizing: border-box;
}
.react-dropdown{
    position: relative;
    margin-bottom: 10px;
    // label{}
    button{
        background-color: transparent;
        border: 1px solid #999;
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: 10px;
        display: flex;
        font-size: 14px;
        margin-top: 5px;
        font-family: inherit;
        &:hover{
            background-color: #eee;
        }
        span{
            flex: 1 1 auto;
            align-self: center;
        }
        .react-icon{
            flex: 0 0 20px;
        }
    }
    &.disabled{
        button{
            background-color: #ddd;
            color: #444;
            font-style: italic;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
    &.has-placeholder{
        button{
            color: #aaa;
        }
    }
}

.react-popup-container{
    position: relative;
}
.react-popup{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #999;
    display: none;
    outline: none;
    background-color: white;
    li{
        padding: 10px;
        cursor: pointer;
        font-family: inherit;
        &:hover{
            background-color: #eee;
        }
        &[aria-selected="true"]{
            background-color: #333;
            color: white;
        }
    }
    &.open{
        display: block;
    }
}

.ca-list{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #999;
    outline: none;
    .ca-list-item{
        padding: 10px;
        cursor: pointer;
        border: 1px solid transparent;
        outline: 0;
        &:hover{
            background-color: #eee;
        }
        &:focus{
            border: 1px solid #666;
            outline: 0;
        }
        &[aria-selected="true"]{
            background-color: #333;
            color: white;
            &:focus{
                border: 1px solid transparent;
                box-shadow: 0 0 10px white inset;
            }
        }
        &[disabled] {
            background-color: #ccc;
            color: #666;
            font-style: italic;
            cursor: not-allowed;
            pointer-events: none;
        }
        &.label{
            background-color: #f5f5f5;
        }
    }
}