$dsbl: #9e9e9e;

.ca-button{
    border: 1px solid #666;
    background-color: #999;
    color: white;
    padding: 10px;
    font-size: 14px;
    outline: 0;
    cursor: pointer;
    font-family: inherit;
    &:hover{
        background-color: #aaa;
    }
    &:focus{
        box-shadow: 0 0 10px white inset;
    }
}
.react-dropdown,
.react-popup{
    box-sizing: border-box;
}
.react-dropdown{
    position: relative;
    margin-bottom: 10px;
    // label{}
    button{
        background-color: transparent;
        border: 1px solid #999;
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: 10px;
        display: flex;
        font-size: 14px;
        margin-top: 5px;
        font-family: inherit;
        &:hover{
            background-color: #eee;
        }
        span{
            flex: 1 1 auto;
            align-self: center;
        }
        .react-icon{
            flex: 0 0 20px;
        }
    }
    &.disabled{
        button{
            background-color: #ddd;
            color: #444;
            font-style: italic;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
    &.has-placeholder{
        button{
            color: #aaa;
        }
    }
    .react-popup{
        min-width: 100%;
    }
}

.react-popup-container{
    position: relative;
}
.react-popup{
    position: absolute;
    z-index: 100;
    left: 0;
    top: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #999;
    display: none;
    outline: none;
    background-color: white;
    &.up{
        top: auto;
        bottom: 100%;
    }
    &.right{
        left: auto;
        right: 0;
    }
    li{
        padding: 10px;
        cursor: pointer;
        font-family: inherit;
        &:hover{
            background-color: #eee;
        }
        &[aria-selected="true"]{
            background-color: #333;
            color: white;
        }
        white-space: nowrap;
    }
    &.open{
        display: block;
    }
}

.ca-list{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #999;
    outline: none;
    .ca-list-item{
        padding: 10px;
        cursor: pointer;
        border: 1px solid transparent;
        outline: 0;
        &:hover:not(.group):not(.label):not([aria-selected="true"]){
            background-color: #eee;
        }
        &:focus{
            border: 1px solid #666;
            outline: 0;
        }
        &[aria-selected="true"]{
            background-color: #333;
            color: white;
            &:focus{
                border: 1px solid transparent;
                box-shadow: 0 0 10px white inset;
            }
        }
        &[disabled] {
            background-color: #ccc;
            color: #666;
            font-style: italic;
            cursor: not-allowed;
            pointer-events: none;
        }
        &.label{
            background-color: #cecece;
            pointer-events: none;
        }
        &.group{
            padding: 0 20px;
            color: rgba(0, 0, 0, 0.322);
            text-align: right;
            font-weight: bold;
            pointer-events: none;
            &:before{
                content: '';
                display: block;
                border-top: 1px solid #e0e0e0;
                margin-bottom: 10px;
            }
        }
    }
}

.react-checkbox{
    display: inline-flex;
    // width: 100%;
    .react-checkbox-check{
        flex: 0 0 16px;
        border-radius: 2px;
        position: relative;
        border: 1px solid #757575;
        height: 16px;
        outline: 0;
        cursor: pointer;
        &:focus{
            box-shadow: 0 0 1px 1px #3966c3;
        }
        i{
            font-size: 14px;
            color: #757575;
            position: absolute;
            top: 0px;
        }
        &:after{
            content: '';
            position: absolute;
            z-index: -1;
            width: 44px;
            height: 44px;
            margin: 50% 0 0 50%;
            transform: translate(-50%, -50%);
        }
    }
    .react-checkbox-label{
        flex: 1 0 auto;
        margin-left: 5px;
        font-size: 14px;
    }
    .react-checkbox-check,
    .react-checkbox-label{
        cursor: pointer;
        align-self: center;
    }

    &.check-after{
        .react-checkbox-label{
            margin-left: 0;
            margin-right: 5px;
        }
    }
    &.disabled{
        pointer-events: none;
        .react-checkbox-check{
            pointer-events: none;
            border-color: $dsbl;
        }
        .react-checkbox-label{
            color: $dsbl;
        }
    }
}